{% extends './BaseTemplate.html' %}
{% load static %}

{% block title %}Horario{% endblock %}
{% block body %}
<div class="card m-5">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Horario</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entrada in horario %}
                    <tr>
                        <td>{{entrada}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}