{% extends './BaseTemplate.html' %}

{% block title %}CRUD - Create{% endblock %}

{% block body %}
<div class="card mt-5 m-auto w-50">
    <div class="card-body">
        <div class="d-flex justify-content-center">
            <h3 id="form-title">Registrar {{nombre_crud}}</h3>
        </div>
        <div class="d-flex justify-content-center form_container">
			<form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group row mt-2">
                    <div class="col">
                    {{field.label}}
                    {{field}}
                    </div>
                </div>
                {% endfor %}
                <div class="d-flex justify-content-center mt-3 login_container">
                    <input class="btn btn-primary" type="submit" value="Guardar Entrada">
                </div>
            </form>
        </div>
        {{form.errors}}
    </div>
{% endblock %}