{% extends './BaseTemplate.html' %}
{%block title%}Inicio de Sesión{%endblock%}

{%block body%}

    <div class="card mt-5 m-auto w-50">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <h3 id="form-title">Inicio de Sesión</h3>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" name="username" placeholder="Nombre de Usuario" class="form-control">
                    </div>
                    <div class="input-group mb-2">
                        <input type="password" name="password" placeholder="Contraseña" class="form-control">
                    </div>
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <input class="btn btn-primary" type="submit" value="Iniciar Sesión">
                    </div>
                </form>
            </div>
            {% for message in messages %}
            <div class="alert alert-warning mt-2">{{message}}</div>
            {% endfor %}
            <div class="mt-2">
                <div class="alert alert-info">
                    ¿No está Registrado? <a href="{%url 'register'%}" class="alert-link">Registrarse</a>
                </div>

            </div>
        </div>
    </div>

{%endblock%}